@model LanzhouBeefNoodles.Models.LearningVideo

@{
    ViewBag.Title = "VideoPlay";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>课程学习中心</title>
    <style type="text/css">
        #div1 {
            border:1px solid #f2f2f2;
            width:50%;
            height:500px;
            position:absolute;
            left:25%;
            text-align:center;
            padding:100px;
            background-color:#dbd7d7;
            
        }
    </style>
   
</head>
<body>
    <div id="div1">
        <video width:1000px  height:800px  controls autoplay="autoplay" >
           <source src="@Model.Url" type="video/mp4" />
         </video>
    </div>

</body>
</html>

